opencv-python
jupyter_http_over_ws>=0.0.7
jupyterlab_widgets
ipywidgets
jupyter-kite
scikit-learn>=0.24.0
"ray[tune]"
scikit-image
numpy
pandas
seaborn
matplotlib
skorch
jupyterlab
notebook
tensorboard
optuna
#torch
#torchvision
#nodejs
